
.sidenav-begin-appear
{
 -webkit-animation: startsn 800ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: startsn 800ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    
}

@-webkit-keyframes startsn {
	to {        
	       	
    	 -webkit-transform: translate3d(0, 0, 0);    
    }   
    from {
           	
    	 -webkit-transform: translate3d(-80px, 0, 0);            
    }
}
@keyframes startsn {
	to {        
	       	    	 
     transform: translate3d(0, 0, 0);
    }   
    from {
         	    	
     transform: translate3d(-80px, 0, 0);
    }
}

.animation-change-view {
    overflow: hidden;
    position: absolute;
    left: 0;       
    width: calc(100vw - 80px);
    /*height:100%;*/
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
     
}
.animation-change-view-appear
{       
    animation: ZoomIn 800ms cubic-bezier(0.445, 0.050, 0.550, 0.950);                   
}


@keyframes ZoomIn {
	to {
        
	  
     transform: scale3d(1, 1, 1);
    }   
    from {
         
     transform: scale3d(0, 0, 0); 
    }
}

.animation-change-view-leave.animation-change-view-leave-active{
    -webkit-animation: leave 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    
}


@-webkit-keyframes leave {
	to {
        
	    opacity: 0;    	
    	 -webkit-transform: translate3d(50vw, 0, 0);
    
    }   
    from {
        opacity: 1;    	
    	 -webkit-transform: translate3d(0, 0, 0);
    
        
    }
}
@keyframes leave {
	to {
        
	    opacity: 0;    	
    	 
     transform: translate3d(50vw, 0, 0);
    }   
    from {
        opacity: 1;    	
    	
     transform: translate3d(0, 0, 0);
    }
}

.appear_list-enter{
  transform: scale3d(1.2, 1.2, 1.2);
   opacity: 0;
    width: 100%; 
   position: absolute;
}

.appear_list-enter.appear_list-enter-active {
   transform: scale3d(1, 1, 1);
    width: 100%;
    position: absolute;
   transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    opacity: 1;    
}

.appear_list-leave {
   opacity: 1;
    width: 100%;
    transform: translate3d(0, 0, 0);
    position: absolute;    
}

.appear_list-leave.appear_list-leave-active {
   opacity: 0;
   width: 100%;
   position: absolute;
    transform: translate3d(50vw, 0, 0);
   transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
   
}


.change_list-enter {
  transform: scale3d(.8, .8, .8);
   opacity: 0;
    width: 100%; 
   position: absolute;
}

.change_list-enter.change_list-enter-active {
   transform: scale3d(1, 1, 1);
    width: 100%;
    position: absolute;
   transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    opacity: 1;    
}

.change_list-leave {
   opacity: 1;
    width: 100%;
    transform: scale3d(1, 1, 1);
    position: absolute;    
}

.change_list-leave.change_list-leave-active {
   opacity: 0;
   width: 100%;
   position: absolute;
   transform: scale3d(.8, .8, .8);
   transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
   
}
